<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
    
    <mapper namespace="mapper.news.Msg_pushMapper">
    
    <select id="getMsg_pushList" resultType="Msg_push">
  	select * from msg_push limit #{from},#{pageSize}
  </select>
    
  	<select id="count1" resultType="Integer">
  		select count(1) as count from msg_push
  	</select>
  	
  	<delete id="deleteMsg_pushById" parameterType="Integer">
  		delete from msg_push where id = #{id}	
  	</delete>
  	
  	
  	<insert id="addMsg_push" parameterType="Msg_push">
		insert into msg_push (userId,title,msgType,content,releaseDate)
				values(#{userId},#{title},#{msgType},#{content},#{releaseDate})
	</insert>
	
	<update id="modify" parameterType="Msg_push">
		update msg_push
		<trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
			<if test="title != null">title=#{title},</if>
			<if test="msgType != null">msgType=#{msgType},</if>
			<if test="content != null">content=#{content},</if>
			<if test="releaseDate != null">releaseDate=#{releaseDate},</if>
		</trim>
	</update>
  	
  	
  	
  	 <select id="getMsgList" resultType="Msg_push">
  		select * from msg_push
  	<where>
  		<choose>
  			<when test="msgType == 0">
	  			and	userId in (1,#{userId})
  			</when>
  			<when test="msgType == 4">
	  			and	userId = 1
  			</when>
  			<otherwise>
		  		<if test="userId != 0">
		  			and	msgType = #{msgType} and userId = #{userId}
		  		</if>
  			</otherwise>
  		</choose>
  	</where>
  	 	ORDER BY releaseDate DESC	 	
  	 	limit #{from},#{pageSize}
  	</select>
  
  	<select id="count" resultType="Integer">
  		select count(1) as count from msg_push
  		<where>
  		<choose>
  			<when test="msgType == 0">
	  			and	userId in (1,#{userId})
  			</when>
  			<when test="msgType == 4">
	  			and	userId = 1
  			</when>
  			<otherwise>
		  		<if test="userId != 0">
		  			and	msgType = #{msgType} and userId = #{userId}
		  		</if>
  			</otherwise>
  		</choose>
  	</where>
  	</select>
  		
  </mapper>