<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="mapper.user.UserMapper">
  <select id="getUser" parameterType="User" resultType="User">
  	select * from user where loginName=#{loginName} 
  	<if test="password != null and password != '' ">
  		and password=#{password}  	
  	</if>
  </select>
	
	<!-- 修改登录密码 -->
	<update id="updatePassword" parameterType="User">
		update user set password=#{password} where id=#{id}
	</update>
	
	
	<!-- 修改交易密码 -->
	<update id="updateExchangePassword" parameterType="User">
		update user set exchangePassword=#{exchangePassword} where id=#{id}
	</update>
   
  <insert id="addUser" parameterType="User" >
  		insert into user(loginName,password,userType) values(#{loginName},#{password},#{userType})
  </insert>
  
</mapper>
