/*閫氱敤CSS css鏉冮噸锛歩mportant > 鍐呰仈 > ID > 绫�> 鏍囩 | 浼被 | 灞炴�閫夋嫨 > 浼璞�> 缁ф壙 > 閫氶厤绗�閫氶厤绗�> 缁ф壙*/
/*涔﹀啓椤哄簭瑙勫垯
  瀹氫綅灞炴�锛堟瘮濡傦細display锛�position锛�float锛�clear锛�visibility锛�table-layout绛夛級
  鑷韩灞炴�锛堟瘮濡傦細width锛�height锛�margin锛�padding锛�border绛夛級
  鏂囨湰灞炴�锛堟瘮濡傦細font锛�line-height锛�text-align锛�text-indent锛�vertical-align绛夛級
  鍏朵粬灞炴�锛堟瘮濡傦細color锛�background锛�opacity锛�cursor锛宑ontent锛�list-style锛�quotes绛夛級*/
*{
    padding:0;
    margin: 0;
    border: 0 none;
    text-decoration: none;
    list-style: none;
    -webkit-font-smoothing: antialiased;
}
html, body, div, span, h1, h2, h3, p, em, img, dl, dt, dd, ol, ul, li, table, tr,th,td, form,input,select{
    margin:0;
    padding:0;
}
* html iframe, * html frame{
    overflow:auto;
}
* html frameset,.o_hidden{
    /*IE7--涓嬪吋瀹筼verflow:hidden鍔爌osition*/
    position: relative;
    overflow: hidden;
}
/*瑙ｅ喅鐢�webkit-overflow-scrolling: touch 寮曡捣鐨勬粴鍔ㄦ潯*/
::-webkit-scrollbar {
  display: none;
}
body{
    /*鍘婚櫎寰俊娓歌鍣╝鏍囩鍏冪礌鐐瑰嚮鐨勬椂鍊欏嚭鐜拌摑鑹茬殑杈规*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "helvetica neue", helvetica, stheiti, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    margin: 0 auto;
    color: #000;
    /*-webkit-user-select: none;*/
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    z-index: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* 淇IE5.x鍜孖E6鐨勬枩浣撴孩鍑篵ug缁�*/
a,*[onclick],._cursor{
    cursor: pointer;
}
/* 鍘绘帀閾炬帴鐨勮櫄绾挎 */
a,input,textarea{
    outline:none;
}
/* 浣跨洅瀛愯绠楀楂樹笉鍖呭惈padding */
._box_sizing, ._box_sizing:before, ._box_sizing:after {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
/*閫傜敤textarea*/
._textarea{
    display: block;
    height: auto;
    width: 100%;
    resize: none;
    overflow: auto;
}
/*缁撴瀯锛歞iv._select>div>select*/
._select{ 
    width: 100%;
    padding: .6em 0 .6em .6em;
    margin-bottom: .8em;
    background: #FFF url('http://res.koudailc.com/article/20160401/356fdf093f2d13.png') no-repeat 97% center;
    background-size: 3%;
    border: 1px solid #F3F3F3;
}
._select div{
    width: 92%;
    overflow: hidden;
}
._select div select{
    width: 109%;
    margin:-3px;
    padding: 3px;
    background: #FFF;
    outline:none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
._select div select::-ms-expand{
    display: none;
}
/*閫傜敤input[file]*/
._upload_file{
    position: relative;
    overflow: hidden;
}
._upload_file input[type="file"]{
    /*浣挎寜閽冻澶熷ぇ*/
    font-size: 10em; 
    height: 10em;
    position: absolute;
    background: #FFF;
    right: 0;
    top: 0;
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -ms-filter:"alpha(opacity=0)";
    filter: alpha(opacity=0);
    cursor: pointer;
}
a:focus{
    outline:none;
    -moz-outline:none;
}
a:hover,a:link,a:active,a:visited,a:focus{
    border: none;
}
a:active{
    star:expression(this.onFocus=this.blur());
}
a.indie{
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    /*-webkit-box-shadow: 0 0 0 1000px #fff inset;*/
}
input:focus{background:transparent}
 /* WebKit browsers,Mozilla Firefox 4 to 18,
 Mozilla Firefox 19+,Internet Explorer 10+ */
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder{
    color: #999999;
}
textarea:-moz-placeholder,
input:-moz-placeholder{
    color: #999999;
} 
textarea::-moz-placeholder,
input::-moz-placeholder{
    color: #999999;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder{
    color: #999999;
}
._placeholder{
    color: #999999;
}
em,
i {
  font-style: normal;
}
.clear{
    clear: both;
}
.a_left{
    text-align: left;
}
.a_center{
    text-align: center;
}
.a_right{
    text-align: right;
}
.v_center{
    vertical-align: middle;
}
.v_top{
    vertical-align: top;
    vertical-align: text-top;
}
.v_bottom{
    vertical-align: bottom;
    vertical-align: text-bottom;
}
.scatter {
text-align:justify;
text-justify:distribute-all-lines;/*ie6-8*/
text-align-last:justify;/* ie9*/
-moz-text-align-last:justify;/*ff*/
-webkit-text-align-last:justify;/*chrome 20+*/
}
.m_center{
    margin: auto auto;
}
.f_right{
    float: right;
}
.f_left{
    float: left;
}
.clear_inline_block{
    /*娑堥櫎inline-block鍏冪礌闂撮棿璺�/
    font-size: 0;
}
._hidden{
    display: none;
}
.v_hidden{
    visibility: hidden;
}
.o_hidden{
    /*IE7--涓嬪吋瀹筼verflow:hidden鍔爌osition*/
    position: relative;
    overflow: hidden;
}
._l_item{
    display: list-item;
    list-style: disc inside;
}
._cursor_noallowed{
    cursor: not-allowed;
}
._inline_block{
    display:inline-block;
     /*_zoom:1;*/
    /**display: inline;*/
}
.p_relative{
    position: relative !important;
}
.p_absolute{
    position: absolute !important;
}
.p_fixed{
    /*ie7 ff*/
    position: fixed !important;
}
.zero_opacity{
    opacity: 0;
    /* Mozilla */
    -moz-opacity: 0;
    /* Safari */
    -khtml-opacity: 0;
    /* IE */
    filter: alpha(opacity=0);
    /* 鏃х増IE */
    -ms-filter:"alpha(opacity=0)";
}
.full_opacity{
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter:"alpha(opacity=100)";
}
._b_radius{
    border-radius: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
}
._b_radius_round{
    border-radius: 999999px;
    -moz-border-radius: 999999px 999999px 999999px 999999px;
    -webkit-border-radius: 999999px;
}
/*寮哄埗鎹㈣*/
._word_wrap{
    /*鎴柇鍗曡瘝*/
    word-break:break-all; 
    /*涓嶆埅鏂崟璇�/
    word-wrap:break-word;
}
._word_wrap_no{
    word-break:keep-all; 
    word-wrap:normal;
}
/*閿氱偣鍚戜笂鍋忕Щ浣嶇疆 淇濈暀*/
.anchor_offset{
    padding-top: 250px;
    margin-top: -250px;
}
.t_underline{
    text-decoration: underline;
}
.t_line_through{
    text-decoration: line-through;
}
._shadow{
    /*box-shadow锛歯one | <shadow> [ , <shadow> ]*
    <shadow> = inset? && [ <length>{2,4} && <color>? ]
    鍙栧�锛�
    none锛�鏃犻槾褰�
    <length>鈶狅細 绗�涓暱搴﹀�鐢ㄦ潵璁剧疆瀵硅薄鐨勯槾褰辨按骞冲亸绉诲�銆傚彲浠ヤ负璐熷� 
    <length>鈶★細 绗�涓暱搴﹀�鐢ㄦ潵璁剧疆瀵硅薄鐨勯槾褰卞瀭鐩村亸绉诲�銆傚彲浠ヤ负璐熷� 
    <length>鈶細 濡傛灉鎻愪緵浜嗙3涓暱搴﹀�鍒欑敤鏉ヨ缃璞＄殑闃村奖妯＄硦鍊笺�涓嶅厑璁歌礋鍊�
    <length>鈶ｏ細 濡傛灉鎻愪緵浜嗙4涓暱搴﹀�鍒欑敤鏉ヨ缃璞＄殑闃村奖澶栧欢鍊笺�鍙互涓鸿礋鍊�
    <color>锛�璁剧疆瀵硅薄鐨勯槾褰辩殑棰滆壊銆�
    inset锛�璁剧疆瀵硅薄鐨勯槾褰辩被鍨嬩负鍐呴槾褰便�璇ュ�涓虹┖鏃讹紝鍒欏璞＄殑闃村奖绫诲瀷涓哄闃村奖 */
    /*  -webkit-box-shadow:3px 3px 10px #9edeff inset;
        box-shadow:3px 3px 10px #9edeff inset;*/
}
._outline:focus{
    outline: none;
}
._transparent{
    background: transparent;
}
.vertical_lr{
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}
.vertical_rl{
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
._ellipsis{
    display:block;/*鍐呰仈瀵硅薄闇�姞*/
    width:21em; /*鏍规嵁鎯呭喌閲嶆柊瀹氫箟*/
    word-break:keep-all;/* 涓嶆崲琛�*/
    white-space:nowrap;/* 涓嶆崲琛�*/
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis; 
    overflow: hidden;
}
._ellipsis_no{
    white-space: nowrap;
    overflow: hidden;
}
._text_justify_x_y{
    /*letter-spacing: 2em; */
    /*margin-right: -2em;*/ /*鍘婚櫎鏈�悗涓�釜鏂囧瓧鐨勭┖鏍�/
    /*濡傛灉闇�y涓瓧涓巟涓枃瀛椾袱绔榻愶紝鍒欎负(x-y)/(y-1),杩欓噷鏄紙4-2锛�(2-1)=2em */
}
table.gridtable {
    width: 100%;
    border: 1px solid #dadada;
    border-collapse: collapse;
    color:#666666;
}
table.gridtable th {
    border: 1px solid #dadada;
    padding: .5em;
}
table.gridtable td {
    border: 1px solid #dadada;
    padding: .5em;
    background-color: #ffffff;
}
/* 瑕嗙洊 cover */
.bg_img_cover {
    /* size matters */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
/* 鍖呭惈 contain */
.bg_img_contain {
    /* size matters */
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

/* flex, fun */
.bg_img_percent {
    /* size matters */
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
}