
#fullbg {
    background-color:Gray;
    left:0px;
    opacity:0.5;
    position:absolute;
    top:0px;
    z-index:3;
    filter:alpha(opacity=50); /* IE6 */
    -moz-opacity:0.5; /* Mozilla */
    -khtml-opacity:0.5; /* Safari */
}
#img1 {
   text-align: center;
   margin-top:43px;
   margin-left:120px;
   position:absolute;
   display:block;

}